li {
  list-style: none;
}
header {
  background-color:aquamarine;
  color: #fff;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  padding: 20px 40px;
  float: left;
  font-size: 36px;
}
.header-list li{
  padding: 33px 20px;
  float: left;
}
.main {
  padding: 100px 80px;  
}
.title {
  color: red;
}
.contact-form {
  padding-top: 100px;
}
input,textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;

}

footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}
.footer-list {
  float: right;
}
.footer-list li {
  margin-bottom: 20px;
}